.main {
    max-width: 980px;
    margin: 0 auto;
}

.easy {
    color: #1f8dd6;
    font-size: 1.2em;
}

.main-padding {
    padding: .5em;
}

.button-secondary {
    background: #1f8dd6;
    border-radius: 4px;
    color: white;
    font-size: 85%;
    margin: .5em auto;
    display: block;
}

.button-secondary-small {
    background: #1f8dd6;
    border-radius: 4px;
    color: white;
    font-size: 70%;
    display: block;
}

.main-item {
    background-color: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
    min-height: 50px;
    margin: 1em auto;
}

.main-text {
    min-height: 100px;
    width: 96%;
    background-color: transparent;
    border: 0;
    font-size: 1.125em;
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 0.01em;
    overflow: hidden;
}

p {
    font-size: 1.125em;
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 0.01em;
}

.paste-input {
    min-height: 100px;
}

.tip {
    position: absolute;
    display: block;
    padding: 0.5em;
    background-color: black;
    color: white;
    font-size: 80%;
    border-radius: 20px;
    opacity: 0;
}